
body {
  background-color:black ;
  font-family: sans-serif;
  font-size: medium;
  color:white;
  position: relative;
  text-align: center;
}

p, pre{
    font-size: 1.1em;
    color:black;
}
div{
  display: block;
}
p{
  background-image: none;
}
img{
  display: block;
  margin: auto;
  width: fit-content;
  height: fit-content;
}
.cabecera{
  background-color: white;

}
.al{
  align-items: center;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.text-center {
  text-align: center ;
}
.cb{
  color: black;
}
.bcw{
  background-color: white;
}
.p10{
  padding: 10px;
}
.p5{
  padding: 5px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.w-100{
  width: 100%;
}
.container {
  width: 100%;
  overflow: hidden;
  margin-top: 0%;
  background-color: darkgrey;
}
.parent {
  width: 100%;
  overflow: hidden;
  padding: 15px;
}
.child {
  width: 90%;
  padding: 20%;
  margin: .5em auto;
}
.twins {
  width: 50%;
  padding: 4px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: space-between;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.boton-subir{
  display: none;
  background: #00974B;
  border: thin solid #fff;
  border-radius: 3px;
  position: fixed;
  right: 15px;
  bottom:2px;
  z-index: 999999999;
}
/*evento hover*/
.boton-subir:hover{
  box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
/*estilos para el tag i*/
.boton-subir i{
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}