html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  font-size: medium;
  color:black;
  position: relative;
  text-align: center;
}

p, pre{
    font-size: 1.1em;
    color:black;
}
div{
  display: block;
}
p{
  background-image: none;
  text-align: justify;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
img{
  display: block;
  margin: auto;
  width: fit-content;
  height: fit-content;
}
.cabecera{
  background-color: white;

}
.ml15{
  margin-left: 15%;
}
.ml5{
  margin-left: 5%;
}
.al{
  align-items: center;
}
.pf{
  position: fixed;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.text-center {
  text-align: center ;
}
.cb{
  color: black;
}
.cw{
  color: white;
}
.bcw{
  background-color: white;
}
.p15{
  padding: 15px;
}
.p5{
  padding: 5px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.w-100{
  width: 100%;
}
.container {
  width: 60%;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 2%;
  text-align: center;
}
.parent {
  width: 100%;
  overflow: hidden;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.child {
  width: 90%;
  padding: 20%;
  margin: .5em auto;
}
.twins {
  width: 50%;
  padding: 10px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.center{
  margin: 16px;
}
.myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.white-space{
  white-space: nowrap;
}

