body {
  background-image: url('fondooscuro.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  text-align:center;
  color: white;
}
p, pre{
    font-size: 1.1em;
    color: white;
    background-color: transparent;
}
div{
  background-color: transparent;
}
p{
  background-image: none;
}
img{
  display: block;
  margin: auto;
}
h2{
  text-align: center;
  border: 4px solid rgb(5, 5, 92);
  padding: 5px;
}
img{
  display: block;
  margin: auto;
}
h3{
  text-align: center;
  border: 2px solid rgb(5, 5, 92);
  padding: 5px;
}
p{
  text-align: center;
}
h4{
  margin: 25px;
}
.text-center {
    text-align: center ;
}
*, *:before, *:after {
  box-sizing: border-box;
}

h2{
  text-align: center;
  border: 4px solid rgb(5, 5, 92);
  padding: 5px;
}
img{
  display: block;
  margin: auto;
}
h3{
  text-align: center;
  border: 2px solid rgb(5, 5, 92);
  padding: 5px;
}
p{
  text-align: center;
}
h4{
  margin: 25px;
}
p:not(.intro) {
  text-align: center;
}